<!-- Start of services section -->
<section class="services-section bg-primary">
    <div class="download-wave">
        <img
          src="assets/images/homepage/download/download-wave.png"
          alt="Download Wave"
          class="w-100"
        />
    </div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center py-5">
            <div class="col-12 col-sm-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-secondary mb-5">
                    <img 
                        src="assets/images/homepage/services/wallet.png" 
                        alt="Secure Wallet"
                    >
                    <h3 class="text-center">
                        Secure Wallet
                    </h3>
                    <p class="text-center mb-0 mb-sm-5">
                        A hardware wallet that supports around 16 cryptocurrencies. 
                    </p>
                </div> 
                <div class="d-flex flex-column align-items-center justify-content-center text-secondary">
                    <img 
                        src="assets/images/homepage/services/statistics.png" 
                        alt="Planning and Analysis"
                    >
                    <h3 class="text-center">
                        Planning & Analysis
                    </h3>
                    <p class="text-center">
                        Build resilience with our transformative financial 
                        planning and analysis software. 
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-4 d-flex align-items-center justify-content-center">
                <img 
                    src="assets/images/homepage/services/crystal-lines.png" 
                    alt="Crystal Image"
                    class="w-100 mx-auto"
                >
            </div>
            <div class="col-12 col-sm-4">
                <div class="d-flex flex-column align-items-center justify-content-center text-secondary mb-5 mt-5 mt-sm-0">
                    <img 
                        src="assets/images/homepage/services/secure.png" 
                        alt="Cryptic Protection"
                    >
                    <h3 class="text-center">
                        Cryptic protection
                    </h3>
                    <p class="text-center">
                        A digital ledger of cryptocurrecy transactions that's hard for hackers. 
                    </p>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center text-secondary">
                    <img 
                        src="assets/images/homepage/services/trading.png" 
                        alt="Cryptonite trading"
                    >
                    <h3 class="text-center">
                        Cryptonite trading
                    </h3>
                    <p class="text-center">
                        Trade Bitcoin, Ethereum, Litecoin and more against the major fiat currencies. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="empower-wave">
        <img 
            src="assets/images/homepage/services/services-wave.png" 
            alt="Empower Wave"
            class="w-100"
        >
    </div>
</section>