<!-- Start of services section -->
<section class="services-section bg-primary" id="services">
    <div class="container">
        <div class="px-5">
            <div class="row">
                <div class="col-12 col-md-4">
                   <div class="bottom-space text-secondary">
                       <img 
                            class="img-fluid center"
                            src="assets/images/homepage/services/wallet.png" 
                            alt="Secure Wallet"
                        >
                        <h3 class="text-center">
                            Secure Wallet
                        </h3>
                        <p class="text-center">
                            A hardware wallet that supports around 16 cryptocurrencies. 
                        </p>
                   </div> 
                   <div class="text-secondary">
                       <img 
                            class="img-fluid "
                            src="assets/images/homepage/services/statistics.png" 
                            alt="Planning and Analysis"
                        >
                       <h3 class="text-center">
                           Planning & Analysis
                        </h3>
                        <p class="text-center">
                            Build resilience with our transformative financial 
                            planning and analysis software. 
                        </p>
                   </div>
                </div>
                <div class="col-12 col-md-4 my-auto">
                    <img 
                        class="center"
                        src="assets/images/homepage/services/crystal-lines.png" 
                        alt="Crystal Image"
                        width="100%"
                    >
                </div>
                <div class="col-12 col-md-4">
                    <div class="bottom-space text-secondary">
                        <img 
                            class="img-fluid "
                            src="assets/images/homepage/services/secure.png" 
                            alt="Cryptic Protection"
                        >
                        <h3 class="text-center">
                            Cryptic protection
                        </h3>
                        <p class="text-center">
                            A digital ledger of cryptocurrecy transactions that's hard for hackers. 
                        </p>
                    </div>
                    <div class="text-secondary">
                        <img 
                            class="img-fluid "
                            src="assets/images/homepage/services/trading.png" 
                            alt="Cryptonite trading"
                        >
                        <h3 class="text-center">
                            Cryptonite trading
                        </h3>
                        <p class="text-center">
                            Trade Bitcoin, Ethereum, Litecoin and more against the major fiat currencies. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="empower-wave">
        <img 
            src="assets/images/homepage/services/services-wave.png" 
            alt="Empower Wave"
            width="100%"
        >
    </div>
</section>