<div class="container-fluid vh-100 w-100">
    <div class="row h-100">
        <div class="d-none d-md-block col-12 col-md-6 orientation"></div>
        <div
            class="
                col-12 col-md-6 
                d-flex flex-column 
                justify-content-center 
                align-items-center 
                position-relative 
                py-3"
            >
            <img 
                class="img-fluid" 
                src="assets/images/logos/logo.png" 
                alt="Cryptonite Logo" 
                width="30%"
            >
            <h3 class="mt-4 mb-0 text-primary font-weight-bold text-center">
                How much funding
            </h3>
            <h3 class="mb-4 text-primary font-weight-regular text-center">
                are you eligible for?
            </h3>
            <info-form 
                *ngIf="step === 'info'; else create"
                class="w-100 mb-5"
            ></info-form>
            <ng-template #create>
                <register-form 
                    class="w-100 mb-5"
                    (submit)="isFormSubmitted($event)"
                ></register-form>
            </ng-template>
            <p class="text-primary font-weight-medium text-center">
                Already have an account?<a
                    [routerLink]="['/accounts/login']"
                    class="text-danger font-weight-bold"
                >
                    Sign in
                </a>
            </p>
        </div>
    </div>
</div>