<!-- Start of navbar section -->

<nav 
    class="navbar navbar-expand-lg fixed-top navbar-light bg-light px-5 py-2 py-lg-4"
>
    <a href="#" class="navbar-brand">
        <img 
            src="assets/images/logos/logo.png" 
            alt="Cryptonite Logo"
        >
    </a>
    <button 
        type="button" 
        class="navbar-toggler" 
        data-toggle="collapse" 
        data-target="#navContent" 
        aria-controls="navContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon sr-only"></span>
    </button>
    <div 
        class="collapse navbar-collapse" 
        id="navContent"
    >
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="#aboutUs" class="nav-link" >About Us</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#subscribe" class="nav-link">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline mx-2 my-2 my-lg-0">
            <button 
                [routerLink]="['accounts/register']"
                type="submit" 
                class="btn btn-nav  my-2 my-sm-0"
            >
                Get Started
            </button>
        </form>
    </div>
</nav>