<!-- Start of Trusted Partners section -->
<section class="trusted-partners">
    <div class="container-fluid">
        <h1 class="text-center text-primary">
            Trusted Partners
        </h1>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 my-auto">
                <img 
                    class="img-fluid"
                    src="assets/images/homepage/trusted-partners/bitcoin.png" 
                    alt="Bitcoin"
                    width="60%"
                >
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-auto">
                <img 
                    class="img-fluid"
                    src="assets/images/homepage/trusted-partners/master-card.png" 
                    alt="Master Card"
                    width="50%"
                >
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-auto">
                <img 
                    class="img-fluid"
                    src="assets/images/homepage/trusted-partners/visa.png" 
                    alt="Visa"
                    width="80%"
                >
            </div>
            <div class="col-12 col-sm-6 col-md-3 my-auto">
                <img 
                    class="img-fluid"
                    src="assets/images/homepage/trusted-partners/hsbc.png" 
                    alt="HSBC"
                    width="80%"
                >
            </div>
        </div>
    </div>
</section>
