<!-- Start of download app section -->

<section class="download-section">
    <div class="download-wave">
        <img 
            src="assets/images/homepage/download/download-wave.png" 
            alt="Download Wave"
            width="100%"
        >
    </div>
    <div class="container download-content">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-6">
                <div class="mobile-phone">
                    <img 
                        src="assets/images/homepage/download/phones.png" 
                        alt="Mobile Phones"
                        width="100%"
                    >
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6">
                <div class="phones-content position-relative">
                    <p class="text-white">
                        <span class="font-weight-semibold font-48px"> 
                            Download our CRYPTONITE app
                        </span>
                    </p>
                    <p class="text-white font-weight-medium font-26px">
                        Download a mobile app or trade directly from your web browser. 
                        Never miss a chance
                    </p>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div>
                                <a href="https://www.apple.com">
                                    <img 
                                        src="assets/images/homepage/download/app-store.png" 
                                        alt="App Store"
                                        width="70%"
                                    >
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="my-3">
                                <a href="https://play.google.com">
                                    <img 
                                        src="assets/images/homepage/download/google-play.png"
                                        alt="Google Play" 
                                        width="70%"
                                    >
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-10 col-md-12">
                            <div class="d-flex justify-content-center align-items-center">
                                <img 
                                    src="assets/images/homepage/download/QRcode.svg" 
                                    alt="QRcode"
                                    width="20%"
                                >
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="download-wave-bottom">
    </div>
</section>
