<!-- Start of subscribe section -->

<section class="subscribe-section">
    <div class="container">
        <p class="text-center">
            Subscribe to our newsletter
        </p>
        <p class="text-center subscriibe-para">
            for daily/weekly update of our products and services
        </p>
        <div class="input-wrapper text-center subscribe">
            <input 
                type="email"
                placeholder="Email"
                class="subscribe-input form-input" 
            >
            <button 
                type="submit"
                class="btn arrow-btn"
            >
                <img 
                    class="arrow-img position-relative"
                    src="assets/images/homepage/subscribe/arrow.png"
                    alt="Arrow Image" 
                >
            </button>
        </div>
    </div>
</section>
