@import "../../../theme/colors.scss";

.subscribe-section {
    margin-top: 130px;
    p {
        font-size: 40px;
        font-weight: 750;
    }
    .subscriibe-para {
        font-size: 32px;
        font-weight: 500;
    }
    .subscribe{
        .subscribe-input {
            border-radius: 100px;
            margin-bottom: 40px;
            width: 30%;
            line-height: 4em;
            padding: 0px 20px 2px 18px;
        }
        .arrow-btn {
            margin-left: -66px;
            margin-top: 0px;
            background-color: $accentColor;
            border-radius: 180px;
            padding: 5px 15px 25px;
            .arrow-img {
                bottom: -12px;
            }
        }
    }
}


