<!-- Start of blog section -->

<section class="blog-section" id="blog">
    <div class="container-fluid">
        <div class="latest-info">
            <p 
                class="info-title text-center font-weight-semibold font-48px text-primary"
            >
                Get to know the latest stuff via our blog post.
            </p>
            <div class="row info-content">
                <div 
                    class="col-12 col-sm-6 col-md-4"
                >
                    <div class="block-content d-flex justify-content-center">
                        <p class="text-dark">
                            25 AUG, 2021 | TECHNOLOGY
                        </p>
                        <h3 class="text-dark font-weight-semibold font-26px">
                            Trading Cryptonite: Beginner's Guide
                        </h3>
                        <p class="text-dark">
                            You are well on your way to the international financial arenas. 
                            Let's get the market bulls and bears.
                        </p>
                        <br>
                        <div>
                            <a href="#" class="text-primary font-13px">Read more</a>
                        </div>
                    </div>
                </div>
                <div 
                    class="col-12 col-sm-6 col-md-4 d-flex justify-content-center"
                >
                    <div class="blockB-content">
                        <p class="text-dark">
                            25 AUG, 2021 | TECHNOLOGY
                        </p>
                        <h3 class="text-dark font-weight-semibold font-26px">
                            A Robust option to trading:
                        </h3>
                        <p class="text-dark">
                            View all pricing information now, to achieve a maturity period, 
                            where you can customize your views and columns as well!.
                        </p>
                        <br>
                        <div>
                            <a href="#" class="text-primary font-13px">Read more</a>
                        </div>
                    </div>
                </div>
                <div 
                    class="col-12 col-sm-6 col-md-4"
                >
                    <div class="block-content d-flex flex-column align-items-start">
                        <p class="text-dark">
                            25 AUG, 2021 | TECHNOLOGY
                        </p>
                        <h3 class="text-dark font-weight-semibold font-26px">
                            The Future Of Cryptocurrency:
                        </h3>
                        <p class="text-dark">
                            If recent headlines are any indication, then the future of 
                            cryptocurrency is a very promising one.
                        </p>
                        <br>
                        <div>
                            <a href="#" class="text-primary font-13px">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
