<!-- Start of footer section -->
<section class="cryptonite-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <img 
                    class="img-fluid "
                    src="assets/images/homepage/footer/footer-logo.png" 
                    alt="Footer Logo"
                >
                <p class="font-20px font-weight-600 text-accent footer-connect">
                    Connect with us:
                </p>
                <ul class="d-flex flex-row">
                    <li class="">
                        <a href="https://twitter.com">
                            <img 
                                class="img-fluid " 
                                src="assets/images/homepage/footer/twitter.png" 
                                alt="twitter"
                            >
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.facebook.com">
                            <img 
                                class="img-fluid " 
                                src="assets/images/homepage/footer/facebook.png" 
                                alt="Facebook"
                            >
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.instagram.com">
                            <img 
                                class="img-fluid " 
                                src="assets/images/homepage/footer/instagram.png" 
                                alt="Instagram"
                            >
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://www.linkedin.com">
                            <img 
                                class="img-fluid " 
                                src="assets/images/homepage/footer/linkedin.png" 
                                alt="linkedin"
                            >
                        </a>
                    </li>
                    <li class="mx-2">
                        <a href="https://discord.com">
                            <img 
                                class="img-fluid " 
                                src="assets/images/homepage/footer/discord-logo.png" 
                                alt="Discord Logo"
                            >
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="text-accent">
                    Cryptonite Links
                </h2>
                <ul class="text-white d-flex flex-column">
                    <li class="my-1">
                        <a href="#">
                            Home
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#aboutUs">
                            About Us
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#blog">
                            Blog
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#services">
                            Services
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 
                    class="text-accent"
                >
                    Contact Us
                </h2>
                <ul class="text-white d-flex flex-column">
                    <li class="my-1">
                        <a href="#">
                            +971 586765840
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#">
                            admin@cryptonite.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <h2 class="text-accent">
                    Community
                </h2>
                <ul class="text-white d-flex flex-column">
                    <li class="my-1">
                        <a href="#">
                            Documentation
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#">
                            Terms of Service
                        </a>
                    </li>
                    <li class="my-1">
                        <a href="#">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <p class="text-center text-white">
                &copy 2021 Cryptonite All Rights Reserved
            </p>
        </div>
    </div>
</section>
