
<div class="main-container">
    <div class="main-content">
        <homepage-navbar></homepage-navbar>
        <empower-section></empower-section>
        <trusted-partners-section></trusted-partners-section>
        <services-section></services-section>
        <about-us-section></about-us-section>
        <coin-section></coin-section>
        <blog-section></blog-section>
        <download-section></download-section>
        <subscribe-section></subscribe-section> 
        <homepage-footer></homepage-footer> 
    </div> 
</div>
