<!-- Start of coin section -->
<section class="coin-section">
    <div class="container">
        <div class="px-5">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-6">
                    <img 
                        class="img-fluid coin-img pt-3" 
                        src="assets/images/homepage/coin/coin.svg"
                        alt="Cryptonite Coin" 
                        width="90%"
                    >
                </div>
                <div class="col-12 col-md-6">
                    <h3 class="text-primary font-weight-semibold font-48px">
                        Find The Confidence To Fight For Market Leadership
                    </h3>
                    <p class="font-weight-medium font-20px">
                        Cryptonite is the platform that gives you everything - best
                        fitting trading conditions, customizable account, huge choice of
                        assets, no limits on open positions, and much more.
                        All the instruments are here.
                    </p>
                    <p class="font-weight-medium font-20px">
                        Still, you are the one to use them for own market goals. Do you
                        have the confidence?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>