<!-- Start of coin section -->
<section class="coin-section">
    <div class="container pt-5">
        <div class="row flex-column-reverse flex-sm-row align-items-center justify-content-center">
            <div class="col-12 col-sm-6 col-xl-5">
                <img  
                    src="assets/images/homepage/coin/coin.svg"
                    alt="Cryptonite Coin" 
                    class="w-100 mx-auto"
                >
            </div>
            <div class="col-12 col-sm-6 col-xl-5 d-flex flex-column align-items-center">
                <div class="mx-3">
                    <h1 class="text-primary font-weight-semibold mb-5">
                        Find The Confidence To Fight For Market Leadership
                    </h1>
                    <p class="font-weight-medium font-20px">
                        Cryptonite is the platform that gives you everything - best
                        fitting trading conditions, customizable account, huge choice of
                        assets, no limits on open positions, and much more.
                        All the instruments are here.
                    </p>
                    <p class="font-weight-medium font-20px">
                        Still, you are the one to use them for own market goals. Do you
                        have the confidence?
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>