<!-- Empower section begins here -->
<section class="empower-section bg-primary">
    <div class="container">
        <div class="empower-cover">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-6">
                    <h1 class="text-secondary font-weight-semibold">
                        Empowered
                    </h1>
                    <h1 class="text-secondary font-weight-semibold">
                        digital currency
                    </h1>
                    <br>
                    <p class="text-secondary font-26px">
                        The utmost comfort and premium trading conditions - that’s
                    </p>
                    <p class="text-secondary font-26px">
                        Cryptonite’s offer. Fight for your place
                        under the sun with 24/7 access
                    </p>
                    <p class="text-secondary font-26px"> 
                        to the market from any place, anytime. 
                    </p>
                    <div class="getstarted">
                        <button 
                            [routerLink]="['accounts/register']"
                            type="submit" 
                            id="button-anim" 
                            class="btn d-flex align-items-center justify-content-center font-26px text-dark"
                        >
                            GET STARTED
                        </button>
                    </div>
                </div>
                <div class="col-12 col-sm-10 col-md-6">
                    <lottie-player 
                        src="https://assets7.lottiefiles.com/packages/lf20_ikaawl5v.json"
                        background="transparent" 
                        speed="1" loop autoplay
                    >
                    </lottie-player>
                </div>
            </div>
        </div>
    </div>
    <div class="empower-wave">
        <img 
            src="assets/images/homepage/empower/empower-wave.png" 
            alt="Empower Wave"
            width="100%"
        >
    </div>
</section> 
